{% extends 'base.html' %}

{% block title %}login{% endblock %}

{% block brand %} - login{% endblock %}
 
{% block content %}
    <div class="section">
        <div class="row">
            {% if form.errors %}
                <p>Wrong username or password</p>
            {% endif %}

            <form method="post" class="col s12" action="{% url 'users:login' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        {% comment %} <input type="text" name="username" id="username-field" class="validate" required> {% endcomment %}
                        {{ form.username }}
                        <label for="username-field">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.password }}
                        {% comment %} <input type="password" name="password" id="password-field" class="validate" required> {% endcomment %}
                        <label for="password-field">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="login-btn">Proceed
                            <i class="material-icons right">send</i>
                        </button>
                        <input type="hidden" name="next" value="{% url 'links:links_index' %}">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}