{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% block brand %} - register{% endblock %}

{% block content %}
    <div class="section">
        <div class="row">

            {% if form.errors %}
                <p>Something wrong</p>
            {% endif %}
            <form method="post" class="col s12" action="{% url 'users:register' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.username }}
                        <label for="username-field">Username <span style="color:red">*</span></label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.password1 }}
                        <label for="password-field">Password <span style="color:red">*</span></label>
                        <small>
                            <ul>
                                <li>at least 8 characters</li>
                                <li>not only numbers</li>
                            </ul>
                        </small>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        {{ form.password2 }}
                        <label for="password-field">Repeat password <span style="color:red">*</span></label>
                    </div>
                </div>
                
                {% comment %} {{ form.as_p }} {% endcomment %}
                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="login-btn">Proceed
                            <i class="material-icons right">send</i>
                        </button>
                        <input type="hidden" name="next" value="{% url 'links:links_index' %}">
                    </div>
                </div>
                
            </form>
     
        </div>
            <div class="row">
                <div class="col s6">
                    <a href="{% url 'users:login' %}">login</a>
                </div>
            </div>
    </div>
{% endblock %}