<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>link_saver - {% block title %}{% endblock %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">      
    <style>
        #star {color: gold;}
        .left-my {margin-left: 10px;}
        .right-my {margin-right: 10px;}
        .my-pagin {color: white;}
    </style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <nav>
            <div class="nav-wrapper teal">
                <a href="#" class="brand-logo center">link_Saver {% block brand %}{% endblock %}</a>
                    {% if user.is_authenticated %}
                        <span class="left left-my">
                            <ul id="nav-mobile" class="left hide-on-med-and-down">
                                <li>Logged as: {{ user.username }}</li>
                                <li><a class="waves-effect waves-light btn" href="{% url 'users:logout' %}">Logout <i class="material-icons right">exit_to_app</i></a></li>
                            </ul>
                        </span>
                    {% endif %}
                    <span class="right right-my">{% block counter %}{% endblock %}</span>

            </div>
        </nav>
        <div class="container">

            {% comment %} {% for message in get_flashed_messages() %}
                <div class="flash"></div>
            {% endfor %} {% endcomment %}


            {% block content %}
        
            {% endblock %}


        </div>        
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <!-- <script src="app/assets/js/jquery.js"></script>

        <script src="app/app.js"></script>

        <script src="app/links/links.js"></script>
        <script src="app/links/read-links.js"></script>
        <script src="app/links/delete-link.js"></script>
        <script src="app/links/create-link.js"></script>
        <script src="app/links/update-link.js"></script>

        <script src="app/categories/create-category.js"></script> -->

        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('select');
                var instances = M.FormSelect.init(elems);
            });
        </script>
        <script>

            document.addEventListener('DOMContentLoaded', function() {
                var elems = document.querySelectorAll('.modal');
                var instances = M.Modal.init(elems);
            });

        </script>
        </body>
    </html>

