{% extends 'base.html' %}

{% block brand %}
    - link_adder
{% endblock %}

{% block counter %}
    today is: {{ today|date:'Y-m-d'}} | there are: <b>{{ links_count }}</b> links on <b>{{ pages }}</b> {% if pages == 1 %}page{% else %}pages{% endif %}
{% endblock %}

{% block content %}
    <br />    
    {% comment %} {{ link_form.non_field_errors }} {% endcomment %}
    <form class="col s12" action="{% url 'links:add_link' %}" method="post" id="add-link-form">
        {% csrf_token %}
        <div class="row">
            <div class="input-field col s3">
                {{ link_form.title }}
                <label for="{{form.subject.title}}">Title</label>
            </div>
        

            <div class="input-field col s3" required>
                {{ link_form.category }}
                <label for="{{form.subject.category}}" >Category</label>
            </div>

            <div class="input-field col s6">
                {{ link_form.reference }}
                <label for="{{form.subject.reference}}">Reference</label>
            </div>
        </div>

        <p>
            <button class="waves-effect waves-light btn right" type="submit">Add link</button>
            <button class="waves-effect waves-light btn left modal-trigger" data-target="modal1">Add new category</button>
        </p>
    </form>
    <br /><br /><br />
    <hr />

    <div id="links">
        <table class="responsive-table">
            <thead>
                <tr>
                    <th>starred</th>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date added</th>
                    <th>Refference</th>
                    <th>Delete</th>
                </tr>
            </thead>
            {% for link in links %}
                <tr>
                    <td>
                        {% if link.starred %}
                            <a href="{% url 'links:update_link' link.id %}"><i class="small material-icons waves-effect waves-light" id="star" data-id="{{ link.id }}">star</i></a>
                        {% else %}
                            <a href="{% url 'links:update_link' link.id %}"><i class="small material-icons waves-effect waves-light" id="star" data-id="{{ link.id }}">star_border</i></a>
                        {% endif %}
                    </td>
                    <td>{{ link.title }}</td>
                    <td>{{ link.category }}</td>
                    <td>{{ link.date_added|date:'Y-m-d H:i' }}</td>
                    <td><a href="{{ link.reference }}" class="waves-effect waves-light btn" target="_blank">GO <i class="material-icons right">send</i></a></td>
                    <!--<td><a class="modal-trigger" data-target="modal2" id="delete" title="delete" href="#" data-id="" ><i class="small material-icons">delete_forever</i></a></td>-->
                    <td><a href="{% url 'links:delete_link' link.id %}" onclick="return confirm('Are you sure?');"><i class="small material-icons">delete_forever</i></a></td>
                </tr>
            {% endfor %}
            {% comment %} {% empty %}
            <div>
                Brak wpisoów
            </div> {% endcomment %}

            <tbody>
            </tbody>
        </table>


        <ul class="pagination">
            {% if links.has_previous %}
                <li class="waves-effect"><a href="?page={{ links.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}
            {% if links.has_next %}
                <li class="waves-effect"><a href="?page={{ links.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
            {% else %}
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            {% endif %}
        </ul>


    </div>


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Adding category</h4>
            <form class="col s12" method="post" id="add-category-form" action="{% url 'links:add_category' %}">
                <div class="row">
                    <div class="input-field col s3">
                        {% comment %} <input name="name" id="name" type="text" class="validate" required> {% endcomment %}
                        {% csrf_token %}
                        {{ category_form }}
                        <label for="name">Category name</label>
                    </div>
                </div>
                <p>
                    <button class="waves-effect waves-light btn left" type="submit">Add category </button>
                </p>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#" id="btn-cancel" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
        </div>
    </div>
{% endblock %}