{% extends 'base.html' %}

{% block title %}register{% endblock %}

{% block brand %} - register{% endblock %}

{% block content %}
    <div class="section">
        <div class="row">
            <form method="post" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="username" id="username-field" class="validate" required>
                        <label for="username-field">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="password" name="password" id="password-field" class="validate" required>
                        <label for="password-field">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input type="email" name="email" id="email-field" class="validate" required>
                        <label for="email-field">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <button class="btn waves-effect waves-light" type="submit" name="login-btn">Proceed
                            <i class="material-icons right">send</i>
                        </button>
                    </div>
                </div>
                
            </form>
            <div class="row">
                <a href="{{ url_for('auth.login') }}">login</a>
            </div>
        </div>
    </div>
{% endblock %}